<!DOCTYPE html>
<html lang="en" >

{% block head %}
{% endblock %}

<body>

  <div class="ct" id="t1">
    <div class="ct" id="t2">
      <div class="ct" id="t3">
        <div class="ct" id="t4">
          <div class="ct" id="t5">

            <ul id="menu">
              <a href="#t1"><li class="icon fa fa-cog" id="home"></li></a>
              <a href="#t2"><li class="icon fa fa-id-card" id="exp"></li></a>
              <a href="#t3"><li class="icon fa fa-code" id="coala"></li></a>
              <a href="#t4"><li class="icon fa fa-edit" id="score"></li></a>
              <a href="#t5"><li class="icon fa fa-code-fork" id="gits"></li></a>
            </ul>

            <div class="page" id="p1">
               <section class="icon fa fa-cog">
                 {% block home %}
                 {% endblock %}
               </section>
            </div>

            <div class="page" id="p2">
              <section class="icon fa fa-id-card">
                {% block experience %}
                {% endblock %}
              </section>
            </div>

            <div class="page" id="p3">
              <section class="icon fa fa-code">
                {% block coala %}
                {% endblock %}
              </section>
           </div>

            <div class="page" id="p4">
              <section class="icon fa fa-edit">
                {% block score %}
                {% endblock %}
              </section>
            </div>

            <div class="page" id="p5">
              <section class="icon fa fa-code-fork">
                <span class="title">My Git Profiles</span>
                <p class="hint">
                  Check my GitHub at : https://github.com/siddhpant <br>
                  Check my GitLab at : https://gitlab.com/siddhpant <br>
                  <br>
                  Check out the repo of this website at: https://github.com/siddhpant/gci-blog
                </p>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/animatedModal.js"></script>

</body>

</html>
