<!DOCTYPE html>
<html lang="en" >

{% include 'head.html' %}

<body>

  <div class="ct" id="t1">
    <div class="ct" id="t2">
      <div class="ct" id="t3">
        <div class="ct" id="t4">
          <div class="ct" id="t5">

            <ul id="menu">
              <a href="#t1"><li class="icon fa fa-cog" id="uno"></li></a>
              <a href="#t2"><li class="icon fa fa-id-card" id="dos"></li></a>
              <a href="#t3"><li class="icon fa fa-code" id="tres"></li></a>
              <a href="#t4"><li class="icon fa fa-laptop" id="cuatro"></li></a>
              <a href="#t5"><li class="icon fa fa-code-fork" id="cinco"></li></a>
            </ul>

            <div class="page" id="p1">
               <section class="icon fa fa-cog">
                 {% include 'home.html' %}
               </section>
            </div>

            <div class="page" id="p2">
              <section class="icon fa fa-id-card">
                {% include 'experience.html' %}
              </section>
            </div>

            <div class="page" id="p3">
              <section class="icon fa fa-code">
                {% include 'coala.html' %}
              </section>
           </div>

            <div class="page" id="p4">
              <section class="icon fa fa-laptop">
                {% include 'score.html' %}
              </section>
            </div>

            <div class="page" id="p5">
              <section class="icon fa fa-code-fork">
                <span class="title">My Git Profiles</span>
                <p class="hint">
                  Check my GitHub at : https://github.com/siddhpant <br>
                  Check my GitLab at : https://gitlab.com/siddhpant <br>
                  <br>
                  Check out the repo of this website at: https://github.com/siddhpant/gci-blog
                </p>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/animatedModal.js"></script>

</body>

</html>
