  <span class="title">Google Code-in 2018 Journey</span>
  <span class="hint">
    Hello there!
    I'm Siddh, and in this website I've somewhat elucidated my experience of GCI 2018. <br>
    The experience is listed task-wise, so open the different sections using the menu! <br>
    I worked for two organizations: coala and SCoRE. <br>
    <br>
    I initially worked for SCoRE and did some tasks quickly as they were pretty beginner type. <br>
    Later I stopped working for SCoRE as the tasks were similar, and everyone was doing the same thing, and the tasks got approved. <br>
    Also, the mentors were not much active. <br>
    <br>
    So I did tasks of coala and found it good! The community is active, the repos are actively maintained, mentors were helpful, and you had to do actual work. <br>
    Overall, my experience was pretty good!
  </span>
